/** Dark theme primary colors */

/* main accent */
$accent1: #8c8dfe;
/* lighter accent, mainly for hover effects */
$accent2: #a9a5ff;
/* maybe for text?  */
$accent3: #cfcbff;
/* main text */
$text1: #ffffff;
/* darker text */
$text2: #cad3f5;
/* even darker text */
$text3: #a4adcb;
/* background body */
$base1: #181926;
/* mid tone */
$base2: #25273a;
/* text for forms, not exactly a base */
$base3: #8a8a90;
/* background contrast  */
$base4: #1e2030;