/** Dark theme primary colors */
$accent1: #8c8dfe;
$accent2: #a9a5ff;
$accent3: #cfcbff;
$text1: #ffffff;
$text2: #f5f5f5;
$base1: #0f0f1b;
;
$base2: #252630;
$base3: #8a8a90;
$base4: #1a1b2e;


/* #0f0f1b maybe base ?


*/